@model ParentViewModel


<!-- component -->
@{
    ViewData["Title"] = "Create";
    var tenantid = @User.FindFirst("http://schemas.microsoft.com/identity/claims/tenantid")?.Value;
    var userid = @User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
    Console.WriteLine(userid);
}


<div id="createRoleModal" class="inset-0 fixed z-50 flex hidden items-center justify-center overflow-y-auto">

    <div class="inset-0 fixed transition-opacity" aria-hidden="true">
        <div class="inset-0 bg-gray-500 absolute opacity-75"></div>
    </div>
    <div class="bg-white transform overflow-hidden rounded-lg shadow-xl transition-all sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
                <div class="mt-3 w-full text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-gray-900 text-lg font-medium leading-6" id="modalTitle">
                        Create New Role
                    </h3>
                    <form asp-controller="Roles" asp-action="Create" method="post" class="mt-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mt-2">
                            <label for="tenant_id" class="text-gray-700 block hidden text-sm font-medium">Date and Time</label>
                            <input type="hidden" id="tenant_id" name="tenant_id" value="@tenantid">
                        </div>
                        
                        <div class="mt-2">
                            <label for="title" class="text-gray-700 block text-sm font-medium">Title</label>
                            <p class="text-gray-500 text-sm">
                                Enter this role's name

                            <input type="text" name="title" id="title" class="mt-1 py-2 px-3 border-gray-300 bg-white block w-full rounded-md border shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

                        </div>
                        <h1 class="mt-2 text-gray-700 block text-sm font-medium">Permissions</h1>
                        <p class="text-gray-500 mb-2 text-sm">Select the permission(s) you want this role to have.</p>

                        <div class="grid grid-cols-2">
                            <div class="form-group">
                                <label for="create_team" class="control-label"></label>
                                <input id="create_team" name="create_team" class="form-check-input mr-2 mb-1" type="checkbox" value="true">Create Team</input>
                                <span for="create_team" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="assign_task" class="control-label"></label>
                                <input id="assign_task" name="assign_task" class="form-check-input mr-2 mb-1" type="checkbox" value="true">Assign Task</input>
                                <span for="assign_task" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="py-3 mt-4 sm:px-6 sm:flex sm:flex-row-reverse">
                            <button onclick="toggleCreateRoleModal()" id="closeModalButton" type="button" class="border-transparent px-4 py-2 bg-indigo-600 text-white inline-flex w-full justify-center rounded-md border text-base font-medium shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">
                                Close
                            </button>
                            <div class="py-1"></div>
                            <button id="createTaskButton" type="submit" class="border-transparent px-4 py-2 bg-indigo-600 text-white inline-flex w-full justify-center rounded-md border text-base font-medium shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">
                                Create Role
                            </button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>

    </div>
</div>




@*EDIT MODAL!!!!!!!!!!!!!!!!!!!!!!!!!*@
@foreach (var edit in Model.Roles) {

<div id="editRoleModal_@edit.id" class="inset-0 fixed z-50 flex hidden items-center justify-center overflow-y-auto">

    <div class="inset-0 fixed transition-opacity" aria-hidden="true">
        <div class="inset-0 bg-gray-500 absolute opacity-75"></div>
    </div>

    <div class="bg-white transform overflow-hidden rounded-lg shadow-xl transition-all sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 max-h-[85vh] mb-16 overflow-y-auto sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
                <div class="mt-3 w-full text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-gray-900 text-lg font-medium leading-6" id="modalTitle">
                        Edit Role
                    </h3>
                  
                            <div class="mt-2">
                                <label for="tenant_id" class="text-gray-700 block hidden text-sm font-medium">Date and Time</label>
                                <input type="hidden" id="tenant_id" name="tenant_id" value="@tenantid">
                            </div>
                            <div class="mt-2">
                                <label for="title" class="text-gray-700 block hidden text-sm font-medium">Date and Time</label>
                                <input type="hidden" id="title" name="title" value="@edit.title">
                            </div>
                            <div class="mt-2">
                                <label for="title" class="text-gray-700 block text-sm font-medium">Your Roles</label>
                                <p class="text-gray-500 text-sm">
                                    A list of your company's created roles.
                                </p>

                                <div class="bg-white overflow-hidden shadow sm:rounded-md">
                                    <ul role="list" class="divide-gray-200 divide-y">
                                    </ul>
                                    <div class="bg-white mt-3 max-h-[40vh] overflow-y-auto rounded-md">
                                        <ul role="list" class="divide-gray-200 divide-y">
                                            <li class="px-6 py-4 border-left border">
                                                <h3 class="text-gray-900 text-base font-semibold leading-6">@edit.title</h3>
                                                <div class="border-gray-200 pb-5 mb-3 border-b sm:flex sm:items-center sm:justify-between"></div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                <div class="flex">

                                                    <form id="editRoleForm" asp-action="Edit" asp-route-id="@edit.id" method="post" class="flex">

                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@edit.id" />
                                                        <input type="hidden" asp-for="@edit.tenant_id" />
                                                            <div class="form-group flex">
                                                                <div class="mt-2 mb-2">
                                                                    <label asp-for="@edit.title" for="title" class="text-gray-700 block text-sm font-medium">Team title</label>
                                                                    <input asp-for="@edit.title" type="text" name="title" id="title" class="mt-1 py-2 px-3 border-gray-300 bg-white block w-full rounded-md border shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                                                    <span asp-validation-for="@edit.title" class="text-danger"></span>

                                                                </div>

                                                            </div>
                                                            <div class="ml-9 pl-9 mt-2 mb-2 border-l">
                                                                    <h1 class="text-gray-900 block text-sm font-medium">Permissions:</h1>

                                                            <div class="form-group">
                                                                <label asp-for="@edit.create_team" class="control-label"></label>
                                                            <input asp-for="@edit.create_team" name="create_team" class="form-control" />
                                                                <span asp-validation-for="@edit.create_team" class="text-danger"></span>
                                                            </div>
                                                                <div class="form-group">
                                                                    <label asp-for="@edit.assign_task" class="control-label"></label>
                                                                <input asp-for="@edit.assign_task" name="assign_task" class="form-control" />
                                                                    <span asp-validation-for="@edit.assign_task" class="text-danger"></span>
                                                                </div>
                                                                <div type="hidden" class="form-group hidden">
                                                                    <label asp-for="@edit.tenant_id" type="hidden" class="control-label"></label>
                                                                <input asp-for="@edit.tenant_id" type="hidden" name="tenant_id" value="@tenantid" class="form-control" />
                                                                    <span asp-validation-for="@edit.tenant_id" type="hidden" class="text-danger"></span>
                                                                </div>
                                                            </div>



                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        <div id="buttonsEdit" class="bottom-0 right-0 pb-4 pr-4 space-x-3 w-[92%] absolute flex items-end justify-end sm:space-x-4">
                                <!-- Left-aligned button -->
                            <div class="pb-1 relative flex w-full items-end justify-between">
                                <!-- Left-aligned button -->
                                <div>
                                    <button id="createTaskButton" type="button" onclick="deleteRole('@edit.id')"
                                            class="px-4 py-2 bg-red-500 text-white rounded-md shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        Delete Role
                                    </button>
                                </div>


                                <!-- Right-aligned buttons -->
                                <div class="space-x-3 flex sm:space-x-4">
                              <button onclick="document.getElementById('editForm').submit();" form="editRoleForm" id="saveModalButton" type="submit" class="px-4 py-2 bg-indigo-600 text-white rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Save
                              </button>
                                    <button onclick="toggleEditRoleModal('@edit.id')" id="closeModalButton" type="button"
                                            class="px-4 py-2 bg-indigo-600 text-white rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        Go Back
                                    </button>
                                </div>
                            </div>

                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

}




<div id="manageRoleModal" class="inset-0 fixed z-50 flex hidden items-center justify-center overflow-y-auto">

    <div class="inset-0 fixed transition-opacity" aria-hidden="true">
        <div class="inset-0 bg-gray-500 absolute opacity-75"></div>
    </div>
    <div class="bg-white transform overflow-hidden rounded-lg shadow-xl transition-all sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 max-h-[85vh] mb-16 overflow-y-auto sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
                <div class="mt-3 w-full text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-gray-900 text-lg font-medium leading-6" id="modalTitle">
                        Manage Roles
                    </h3>
                    <form asp-controller="Roles" asp-action="Edit" method="post" class="mt-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mt-2">
                            <label for="tenant_id" class="text-gray-700 block hidden text-sm font-medium">Date and Time</label>
                            <input type="hidden" id="tenant_id" name="tenant_id" value="@tenantid">
                        </div>

                        <div class="mt-2">
                            <label for="title" class="text-gray-700 block text-sm font-medium">Your Roles</label>
                            <p class="text-gray-500 text-sm">
                                A list of your company's created roles.</p>

                            <div class="bg-white overflow-hidden shadow sm:rounded-md">
                                <ul role="list" class="divide-gray-200 divide-y"></ul>
                                <div class="bg-white mt-3 max-h-[35vh] overflow-y-auto rounded-md">
                                    <ul role="list" class="divide-gray-200 divide-y hover:cursor-pointer">
                                        @foreach (var item in Model.Roles)
                                        {
                                            <li class="px-6 py-4 border-left flex justify-between border">
                                                @Html.DisplayFor(modelItem => item.title)
                                                <button  type="button" onclick="toggleEditRoleModal('@item.id')" class="text-gray-400 font-semibold hover:text-gray-600">Edit</button>

                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="bottom-0 right-0 pb-4 pr-4 space-x-3 absolute flex w-full items-end justify-end sm:space-x-4">
                            <button onclick="toggleManageRoleModal()" id="closeModalButton" type="button"
                                    class="px-4 py-2 bg-indigo-600 text-white rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Close
                            </button>

                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>




<div class="flex justify-between">
    <h1 class="text-gray-900 mr-3 mt-4 text-base font-semibold leading-6">Users</h1>
    <div class="inline-block flex">
        <button onclick="toggleManageRoleModal()" class="border-gray-500 bg-gray-500 text-white px-3 py-2 my-2 mx-2 flex items-center rounded-lg border text-center text-sm font-semibold hover:bg-gray-600 hover:bg-gray-250">
            Manage Roles<i class="fab fa-facebook ml-1"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48" id="setting">
                <path fill="none" d="M0 0h48v48H0z" />
                <path fill="white" d="M38.86 25.95c.08-.64.14-1.29.14-1.95s-.06-1.31-.14-1.95l4.23-3.31c.38-.3.49-.84.24-1.28l-4-6.93c-.25-.43-.77-.61-1.22-.43l-4.98 2.01c-1.03-.79-2.16-1.46-3.38-1.97L29 4.84c-.09-.47-.5-.84-1-.84h-8c-.5 0-.91.37-.99.84l-.75 5.3a14.8 14.8 0 0 0-3.38 1.97L9.9 10.1a1 1 0 0 0-1.22.43l-4 6.93c-.25.43-.14.97.24 1.28l4.22 3.31C9.06 22.69 9 23.34 9 24s.06 1.31.14 1.95l-4.22 3.31c-.38.3-.49.84-.24 1.28l4 6.93c.25.43.77.61 1.22.43l4.98-2.01c1.03.79 2.16 1.46 3.38 1.97l.75 5.3c.08.47.49.84.99.84h8c.5 0 .91-.37.99-.84l.75-5.3a14.8 14.8 0 0 0 3.38-1.97l4.98 2.01a1 1 0 0 0 1.22-.43l4-6.93c.25-.43.14-.97-.24-1.28l-4.22-3.31zM24 31c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z" />
            </svg>
        </button>
        <button onclick="toggleCreateRoleModal()" class="bg-blue-500 text-white px-3 py-2 my-2 mx-2 flex items-center rounded-lg text-center text-sm font-semibold hover:bg-blue-600">
            Create New Role <i class="fab fa-facebook ml-1"></i>
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-white" width="30" height="30" viewBox="0 0 24 24">
                <path d="M12,2C6.477,2,2,6.477,2,12s4.477,10,10,10s10-4.477,10-10S17.523,2,12,2z M17,13h-4v4h-2v-4H7v-2h4V7h2v4h4V13z"></path>
            </svg>
        </button>
    </div>
</div>
<div class="border-gray-200 pb-5 mb-3 border-b sm:flex sm:items-center sm:justify-between"></div>
<div class="px-3 py-4 flex justify-center">

    <table class="text-md bg-white mb-4 w-full rounded border">
        <tbody>
            <tr class="border-b">
                <th class="p-3 px-5 text-left">Name</th>
                <th class="p-3 px-5 text-left">Email</th>
                <th class="p-3 px-5 text-left">Role</th>
                <th></th>
            </tr>

            @foreach (var item in Model.Users)
            {
                <tr class="border-b hover:bg-gray-100">
                    <td class="p-3 px-5">
                        <input type="text" value="@item.fullname" class="bg-transparent border-gray-300 py-2 border-b-2 border-l-0 border-r-0 border-t-0">
                    </td>
                    <td class="p-3 px-5">
                        <input type="text" value="@item.email" class="bg-transparent border-gray-300 py-2 w-100 border-b-2 border-l-0 border-r-0 border-t-0">
                    </td>
                    <td class="p-3 px-5">

                        <form id="assignRoleForm_@item.id"  method="post" action="@Url.Action("SaveUserRole", "Users")">
                            <input type="hidden" name="userId" value="@item.id">
                            <div class="flex justify-between">
                                <select name="roleId" id="roleSelect_@item.id" class="bg-transparent border-gray-300 py-2 border-b-2 border-l-0 border-r-0 border-t-0 hover:cursor-pointer">
                                    @foreach (var role in Model.Roles)
                                    {
                                        if (role.id == item.role_id)
                                        {
                                            <option value="@role.id" selected>@role.title</option>
                                        }
                                        else
                                        {
                                            <option value="@role.id">@role.title</option>
                                        }
                                    }
                                </select>
                                <div class="flex self-end">
                                    <button type="submit" class="mr-3 h-[40px] w-[75px] bg-blue-500 text-white py-1 px-2 rounded text-sm hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                                        Save
                                    </button>
                                    <button type="button" class="bg-red-500 h-[40px] w-[75px] text-white py-1 px-2 rounded text-sm hover:bg-red-700 focus:outline-none focus:shadow-outline">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




<script>

    function deleteRole(roleId) {
        // Get the CSRF token from the form
        const csrfToken = document.querySelector('input[name="__RequestVerificationToken"]').value;


        // Send a POST request with the task ID and CSRF token
        fetch(`/Roles/Delete/${roleId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'RequestVerificationToken': csrfToken // Include CSRF token in the headers
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to delete task');
                }
                return response.json();
            })
            .then(data => {
                // Task deleted successfully, you can perform any necessary actions (e.g., hide task element)
                // For simplicity, let's reload the page
                location.reload();
            })
            .catch(error => {
                console.error('Error deleting roles:', error);
                // Handle error scenario
            });
        setTimeout(() => {
            location.reload();
        }, 300);

        document.addEventListener('DOMContentLoaded', function() {
            var modalManageRole = document.getElementById('manageRoleModal');
            modalManageRole.classList.toggle('hidden');
        });
    }


    function toggleEditRoleModal(roleId) {
        modalEditRole = document.getElementById('editRoleModal_'+roleId)
        modalManageRole = document.getElementById('manageRoleModal')

        console.log('edit passed')
        modalManageRole.classList.toggle('hidden')
        modalEditRole.classList.toggle('hidden')
    }

    function toggleCreateRoleModal() {
        modalCreateRole = document.getElementById('createRoleModal')

        modalCreateRole.classList.toggle('hidden')
    }

    function toggleManageRoleModal() {
        modalManageRole = document.getElementById('manageRoleModal')
        modalManageRole.classList.toggle('hidden')
    }

</script>
