@model ParentViewModel


<!-- component -->
<div class="flex">
    <h1 class="text-gray-900 mr-3 mt-1 text-base font-semibold leading-6">Users</h1>
</div>
<div class="border-gray-200 pb-5 mb-3 border-b sm:flex sm:items-center sm:justify-between"></div>
<div class="px-3 py-4 flex justify-center">
    <table class="text-md bg-white mb-4 border-gray-100 w-full rounded border shadow-md">
        <tbody>
            <tr class="border-b">
                <th class="p-3 px-5 text-left">Name</th>
                <th class="p-3 px-5 text-left">Email</th>
                <th class="p-3 px-5 text-left">Role</th>
                <th></th>
            </tr>

            @foreach (var item in Model.Users)
            {
                <tr class="border-b hover:bg-gray-100">
                    <td class="p-3 px-5">
                        <input type="text" value="@item.fullname" class="bg-transparent border-gray-300 py-2 border-b-2 border-l-0 border-r-0 border-t-0">
                    </td>
                    <td class="p-3 px-5">
                        <input type="text" value="@item.email" class="bg-transparent border-gray-300 py-2 border-b-2 border-l-0 border-r-0 border-t-0">
                    </td>
                    <td class="p-3 px-5">
                        <form id="assignRoleForm_@item.id" method="post" action="@Url.Action("SaveUserRole", "Users")">
                            <input type="hidden" name="userId" value="@item.id">
                            <select name="roleId" id="roleSelect_@item.id" class="bg-transparent border-gray-300 py-2 border-b-2 border-l-0 border-r-0 border-t-0">
                                @foreach (var role in Model.Roles)
                                {
                                    if (role.id == item.role_id)
                                    {
                                        <option value="@role.id" selected>@role.title</option>
                                    }
                                    else
                                    {
                                        <option value="@role.id">@role.title</option>
                                    }
                                }
                            </select>
                            <button type="submit" class="mr-3 h-[40px] w-[75px] bg-blue-500 text-white py-1 px-2 rounded text-sm hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                                Save
                            </button>
                        </form>
                        <button type="button" class="bg-red-500 h-[40px] w-[75px] text-white py-1 px-2 rounded text-sm hover:bg-red-700 focus:outline-none focus:shadow-outline">
                            Delete
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
