@model Organizer.Entities.Role

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.create_team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.create_team)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.assign_task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.assign_task)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
